{% extends "let_talks/base.html" %}
{% load bootstrap4 %}
{% block content %}
<p>Add a new topic:</p>

<form action="{% url 'let_talks:new_topic' %}" method='post' class="form">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
	<button name="submit" class="btn btn-primary">Add topic</button>
	{% endbuttons %}
<p>Please Select to make post public or private:
	<br />
	<input type="radio" name="post" value="public" /> Public
<input type="radio" name="post" value="private" checked="checked"/> Private 
</p>
</form>

{% endblock content %}